.overlay {
    position: fixed;
    width: 100vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, .5);

}

.modalContainer {
    max-width: 600px;
    width: 100%;

    top: 30%;
    left: 30%;
}
