.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    transition-timing-function: ease-in-out;
    transition: all 1s

}

.nav_black {
    background-color: #111;
}

.navLogo {
    width: 80px;
    object-fit: contain;
    margin-left: 1rem;
}

.avatarLogo {
    width: 30px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 20%;
    position: absolute;
    right: 1rem;
}
.favoriteTab {
    position: absolute;
    top: 1.2rem;
    left: 10%;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.favoriteTab:hover {
    background-color: transparent;
}
.search-bar {

}
