.rowContent {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row-header {
    color: #d5d5d5;
}
.rowContent::-webkit-scrollbar {
    display: none;
}
.anime_poster {
    object-fit: contain;
    width: 100%;
    max-height: 200px;
    transition: transform 450ms;
    margin-right: 10px;

}
.mainView {
    background-color: #111;
}
.anime_poster:hover {
    transform: scale(1.08);
}

.anime_posterLarge {
    max-height: 250px;
}

.anime_posterLarge::hover {
    transform: scale(1.09)
}

.anime-area {
    margin-left: 20px;
}
