.splash-wrapper {
    height: 1080px;
  }

.splash-main {
    display: grid;
    grid-template-columns: .8fr 1.4fr .8fr;
    grid-template-rows: 0.7fr 1fr 1.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "splash-logo . splash-btn"
        ". splash-story-card ."
        ". splash-signup .";
    grid-area: splash-main;
    height: 73%;
    justify-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url(../../images/background.png);
    
}
.splash-story-card > h1 {
    color: white;
    font-size: 3.12rem;
}
.splash-story-card > h3 {
    margin: 1rem auto;
    font-size: 1.625rem;
    color: white;

}
.email-form-title {
    padding: 0 5%;
    margin: 0 auto;
    font-weight: 400;
    color: white;
    font-size: 1.2rem;

}
.input-form {
    display: flex;
    flex-direction: row;
}
.email-form > input {
    width: 70%;
    height: 70px!important;
}
.email-form > button {
    background-color: #e50914;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    height: 70px!important;
    width: auto;

}

.splash-story-card {
    grid-area: splash-story-card;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.attribution{
    position: absolute;
    bottom: 0;
}

.attribution p {
    color: white;
    text-align: center;
}


.splash-signup {
    grid-area: splash-signup;
    position: relative;
}

.splash-logo {

    grid-area: splash-logo;
    margin: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

.splash-btn {
    grid-area: splash-btn;
    margin: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;

}
.splash-btn > a {
    background-color: #e50914;
    border: none;
    color: white;
    padding: 7px 17px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.splash-socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    ". ."
    "social-linkedin social-github"
    ". .";
    grid-area: splash-socials;
    background-color: black;
    border-top: 8px solid rgb(34, 34, 34);
    justify-items: center;

}
#faq-title {
    color: white;
    font-size: 2.5rem;
    margin: 1rem auto;
    text-align: center;

}
.social-linkedin {
    grid-area: social-linkedin;
    display: flex;
    justify-items: right;

}
#linkedin-logo {
    height: 64px;
    width: 64px;
}

.social-github { grid-area: social-github; }

.splash-question-area {  display: grid;
grid-template-columns: .8fr 1.4fr .8fr;
grid-template-rows: 0.7fr 1fr 1.3fr;
gap: 0px 0px;
grid-auto-flow: row;
grid-template-areas:
    ". splash-question ."
    ". . .";
grid-area: splash-question-area;
background-color: black;
border-top: 8px solid rgb(34, 34, 34);
justify-items: center;
}

.splash-question-title {
    grid-area: splash-question-title;
    color: white;
    font-size: 1rem;
    margin: 1rem auto;
}

.splash-question {
    grid-area: splash-question;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    width: 100%;

 }
.splash-question button {
    text-align: left;
    cursor: pointer;
    margin-bottom: 1px;
    padding: .8em 2.2em .8em 1.2em;
    border: 0;
    color: white;
    background-color: #303030;
    display: block;
    width: 100%;
    height: 75px;
    transition: .4s;
}
.splash-question li {
    text-decoration: none;
}

.faq-question {
    font-size: 1.5rem;
}
.faq-answer {
    color: white;
    background-color: #303030;
    padding: 1rem;
    font-size: 1.5rem;

}

/* .splash-main {
    height: 73%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(../../images/background.png);

} */
