.favorite-btn {
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
    cursor: pointer;
    display: block;
    font-size: 1.2vw;
    letter-spacing: 2px;
    text-align: center;

    width: 50%;
}

.favorite-btn:hover {
    color: white;
    background-color: #e50914;
    border-color: #e50914;
}
